body{
    background: black;
}

.boxs{
    max-width: 500px;
    min-height: 500px;
    background: white;
    margin: 100px auto 0;
    border-radius: 20px;
    
    
}
.title{
    text-align: center;
    font-weight: bold;
   font-size: 40px;
   line-height: 40px;
   padding-top: 80px;
   margin-bottom: 30px;
}
.form{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.label{
   
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 15px;
}
.input{
    width: 300px;
    margin-bottom: 25px;
    padding: 6px ;
}